@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
}

.header {
  background-color: #fff;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__search {
  margin-right: auto;
  margin-left: 108px;
}
.header .search-form {
  display: flex;
  width: 350px;
  height: 40px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.header .search-form__input {
  width: 100%;
  height: 100%;
  background-color: #F5FAFE;
  border: none;
  padding-top: 12px;
  padding-right: 75px;
  padding-bottom: 12px;
  padding-left: 23px;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.header .search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  background-color: #ec1f46;
}
.header__user {
  display: flex;
  align-items: center;
}
.header__user-avatar {
  margin-right: 18px;
}
.header__user-name {
  color: #333333;
}
.header-menu {
  max-width: initial;
  margin: initial;
  background-color: #0A223D;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-menu__item {
  color: #fff;
  font-size: 14px;
}

.breadcrump {
  padding: 18px 0;
}
.breadcrump-list {
  display: flex;
  align-items: center;
}
.breadcrump-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}

.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-info__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hotel-info__offer {
  margin-left: 14px;
}
.hotel-info__stars {
  flex-basis: 100%;
  font-size: 12px;
  white-space: nowrap;
  line-height: 0px;
}
.hotel-info__name {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
  margin: 5px 0;
}
.hotel-info__short {
  font-weight: 400;
  font-size: 12px;
  color: inherit;
}
.hotel-info__rating {
  width: 65px;
  height: 45px;
  border-radius: 4px;
  padding: 9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ec1f46;
  color: #fff;
}
.hotel-info__rating-numb::after {
  content: "/";
}
.hotel-info__rating-user {
  font-weight: 600;
  font-size: 8px;
}
.hotel-info__rating-value {
  font-weight: 700;
  font-size: 14px;
}
.hotel-info__rating-full {
  font-size: 10px;
}
.hotel .offer {
  border-radius: 3px;
  width: 70px;
  height: 20px;
  padding: 4px 9px;
  font-weight: 600;
  font-size: 10px;
  background-color: #ec1f46;
  color: #fff;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .wrapper {
    max-width: 960px;
  }
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .wrapper {
    max-width: 760px;
  }
  .header__search {
    margin-left: auto;
  }
  .header__top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__logo {
    max-width: 133px;
  }
  .header__logo-link {
    max-width: 100%;
  }
  .header-menu__list {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header-menu__item {
    font-size: 12px;
  }
  .search-form {
    max-width: 340px;
  }
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .wrapper {
    max-width: 576px;
    width: 92%;
  }
  .header .search-form, .header__user, .header-menu {
    display: none;
  }
  .header__hidden-menu {
    width: 16px;
    height: 11px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
  }
  .header__hidden-menu__btn {
    background-color: #333333;
    width: 16px;
    height: 1px;
  }
  .breadcrump-list__item {
    font-size: 10px;
  }
  .hotel-info__title {
    width: 100%;
  }
  .hotel-info__container {
    justify-content: space-between;
  }
  .hotel-info__stars {
    flex-basis: content;
  }
  .hotel-info__name {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .header__logo {
    max-width: 99px;
  }
  .header__logo-link {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */