@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
}

.header {
  background-color: #fff;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__search {
  margin-right: auto;
  margin-left: 108px;
}
.header .search-form {
  display: flex;
  width: 350px;
  height: 40px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.header .search-form__input {
  width: 100%;
  height: 100%;
  background-color: #F5FAFE;
  border: none;
  padding-top: 12px;
  padding-right: 75px;
  padding-bottom: 12px;
  padding-left: 23px;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.header .search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  background-color: #ec1f46;
}
.header__user {
  display: flex;
  align-items: center;
}
.header__user-avatar {
  margin-right: 18px;
}
.header__user-name {
  color: #333333;
}
.header-menu {
  max-width: initial;
  margin: initial;
  background-color: #0A223D;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-menu__item {
  color: #fff;
  font-size: 14px;
}

.breadcrump {
  padding: 18px 0;
}
.breadcrump-list {
  display: flex;
  align-items: center;
}
.breadcrump-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}

.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.hotel-info__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hotel-info__offer {
  margin-left: 14px;
}
.hotel-info__stars {
  flex-basis: 100%;
  font-size: 12px;
  white-space: nowrap;
  line-height: 0px;
}
.hotel-info__name {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
  margin: 5px 0;
}
.hotel-info__short {
  font-weight: 400;
  font-size: 12px;
  color: inherit;
}
.hotel-info__rating {
  width: 65px;
  height: 45px;
  border-radius: 4px;
  padding: 9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ec1f46;
  color: #fff;
}
.hotel-info__rating-numb::after {
  content: "/";
}
.hotel-info__rating-user {
  font-weight: 600;
  font-size: 8px;
}
.hotel-info__rating-value {
  font-weight: 700;
  font-size: 14px;
}
.hotel-info__rating-full {
  font-size: 10px;
}
.hotel .offer {
  border-radius: 3px;
  width: 70px;
  height: 20px;
  padding: 4px 9px;
  font-weight: 600;
  font-size: 10px;
  background-color: #ec1f46;
  color: #fff;
}

.hotel-grid {
  display: flex;
  justify-content: space-between;
}

.swiper {
  position: relative;
  width: 728px;
  height: 450px;
  border-radius: 8px;
}
.swiper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.4) 0%, rgba(255, 255, 255, 0.3) 100%);
  z-index: 10;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}
.slider-button--next {
  right: 18px;
  background-image: url(../images/icons/arrow-rigth.svg);
}
.slider-button--prev {
  left: 18px;
  background-image: url(../images/icons/arrow-left.svg);
}

.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.booking {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 210px;
  border-radius: 8px;
  background-color: #0A223D;
  color: #fff;
  font-family: "Nunito", sans-serif;
  padding: 26px 26px 29px 29px;
}
.booking-price {
  display: flex;
  justify-content: space-between;
}
.booking-price__items {
  width: 86px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 11px;
}
.booking-price__starts {
  font-weight: 400;
  font-size: 10px;
}
.booking-price__numb {
  font-weight: 800;
  font-size: 24px;
}
.booking-price__per {
  font-weight: 400;
  font-size: 12px;
}
.booking-price__item {
  display: block;
}
.booking-price__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  height: 65%;
}
.booking-price__guest, .booking-price__room {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking-price__description {
  margin-left: 9px;
}
.booking-price__icon {
  width: 14px;
  height: 14px;
}
.booking-quick {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 19px;
}
.booking-btn {
  border-radius: 4px;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #ec1f46;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
}
.map__google {
  border-radius: 8px;
}

.packeges {
  margin-top: 70px;
}
.packeges__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 65px;
}
.packeges-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.large-card {
  position: relative;
  display: flex;
  justify-content: end;
  width: 730px;
  height: 500px;
  background-color: #0A223D;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
}
.large-card__img {
  position: absolute;
  width: 50.2%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.flash-offer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 4px 4px 0;
  margin-top: 26px;
  margin-bottom: auto;
  margin-right: auto;
  color: #fff;
  background-color: #ec1f46;
  font-weight: 600;
}
.flash-offer__large {
  padding: 8px 12px;
  font-size: 12px;
}
.flash-offer__middle {
  padding: 4px 9px;
  font-size: 8px;
}

.large-info {
  width: 49.8%;
  height: 100%;
  padding: 46px 21px 30px 44px;
  color: #fff;
}
.large-info__hotel-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 27px;
}
.large-info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 161%;
  margin-bottom: 34px;
}
.large-info__items {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 11px;
}
.large-info__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.large-info__price-old {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 37px;
}
.large-info__price-new {
  font-weight: 700;
  font-size: 24px;
}
.large-info__btn {
  font-weight: 600;
  font-size: 14px;
  padding: 11px 27px;
  border-radius: 4px;
  color: #fff;
  background-color: #ec1f46;
}

.middle-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 350px;
  height: 500px;
  background-color: #0A223D;
  border-radius: 8px;
  overflow: hidden;
}
.middle-card__img {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-info {
  width: 100%;
  height: 50%;
  color: #fff;
  padding: 30px 21px 25px 32px;
}
.middle-info__hotel-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 23px;
}
.middle-info__items {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 13px;
}
.middle-info__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-info__price-old {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 25px;
  margin-bottom: 5px;
}
.middle-info__price-new {
  font-weight: 700;
  font-size: 24px;
}
.middle-info__btn {
  font-weight: 600;
  font-size: 14px;
  padding: 11px 27px;
  border-radius: 4px;
  color: #fff;
  background-color: #ec1f46;
}

.newsletter__main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../images/newsletter.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-top: 70px;
}
.newsletter__main:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}
.newsletter-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 730px;
  min-height: 75px;
}
.newsletter-info__text {
  color: #fff;
  line-height: 1.2;
  z-index: 1;
}
.newsletter-info__text-sub {
  display: block;
  font-weight: 300;
  font-size: 24px;
}
.newsletter-info__text-name {
  display: block;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}
.newsletter-form {
  position: relative;
  width: 350px;
  height: 55px;
  overflow: hidden;
  border-radius: 4px;
}
.newsletter-form__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 18px;
  padding-right: 72px;
  padding-bottom: 18px;
  padding-left: 33px;
  background-color: #fff;
  border: none;
  font-weight: 300;
  font-size: 14px;
}
.newsletter-form__btn {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 65px;
  height: 100%;
  background-color: #ec1f46;
  color: #fff;
  font-size: 12px;
  border: none;
}

.activities {
  padding: 68px 0 98px 0;
}
.activities-container {
  display: flex;
  justify-content: space-between;
}
.activities__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 57px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  padding: 24px 26px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #0a223d 100%);
  z-index: -1;
}
.card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.card__title {
  margin-top: auto;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-bottom: 18px;
}
.card__btn {
  border: none;
  padding: 7px 22px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: #ec1f46;
}

.footer {
  padding: 108px 0 46px 0;
  background-color: #0A223D;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
}
.footer__logo {
  grid-row: 2 span;
}
.footer__categories {
  grid-row: 2 span;
}
.footer__title {
  margin-bottom: 18px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.footer__title--inline {
  margin: 0 43px 0 0;
}
.footer__title--mb-3 {
  margin-bottom: 34px;
}
.footer__item {
  display: flex;
  align-items: flex-start;
  color: #bdbdbd;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}
.footer__item--mb-2 {
  margin-bottom: 20px;
}
.footer__link {
  color: inherit;
}
.footer__icon-wrapper {
  min-width: 40px;
}
.footer__contact-from {
  grid-column: 3/5;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__input {
  flex-basis: 48%;
  order: none;
  font-weight: 400;
  font-size: 12px;
  color: #bdbdbd;
  padding: 0 23px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.footer__message {
  flex-basis: 100%;
  order: none;
  font-weight: 400;
  font-size: 12px;
  color: #bdbdbd;
  border-radius: 4px;
  padding: 18px 23px;
  margin-bottom: 22px;
  height: 123px;
}
.footer__btn {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  padding: 18px 65px;
  border-radius: 4px;
  min-width: 160px;
  min-height: 50px;
  background-color: #ec1f46;
}
.footer__required-fields {
  font-weight: 700;
  font-size: 12px;
  color: #e0e0e0;
}
.footer__social {
  grid-column: 2 span;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.footer__social-links {
  display: flex;
  justify-content: space-between;
  max-width: 85px;
}
.footer__details {
  grid-column: 1/3;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .wrapper {
    max-width: 960px;
  }
  .swiper {
    width: 590px;
  }
  .swiper-slide {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .large-card {
    width: 630px;
  }
  .large-info {
    padding: 40px 18px 25px 30px;
  }
  .middle-card {
    width: 300px;
  }
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .wrapper {
    max-width: 760px;
  }
  .header__search {
    margin-left: auto;
  }
  .header__top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__logo {
    max-width: 133px;
  }
  .header__logo-link {
    max-width: 100%;
  }
  .header-menu__list {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header-menu__item {
    font-size: 12px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .swiper {
    width: 100%;
  }
  .swiper-slide__pic {
    width: 100%;
    height: 100%;
  }
  .search-form {
    max-width: 340px;
  }
  .hotel-right {
    flex-direction: row;
    margin-top: 30px;
  }
  .activities-container {
    flex-wrap: wrap;
  }
  .activities-card {
    margin-bottom: 20px;
  }
  .card {
    width: 339px;
    height: 255px;
  }
  .large-card {
    width: 100%;
  }
  .middle-card {
    width: 365px;
  }
  .cards {
    margin-bottom: 30px;
  }
  .newsletter__main {
    margin-top: 30px;
  }
  .footer__input {
    flex-basis: 100%;
  }
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .wrapper {
    max-width: 576px;
    width: 92%;
  }
  .header .search-form, .header__user, .header-menu {
    display: none;
  }
  .header__hidden-menu {
    width: 16px;
    height: 11px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
  }
  .header__hidden-menu__btn {
    background-color: #333333;
    width: 16px;
    height: 1px;
  }
  .breadcrump-list__item {
    font-size: 10px;
  }
  .hotel-info__title {
    width: 100%;
  }
  .hotel-info__container {
    justify-content: space-between;
  }
  .hotel-info__stars {
    flex-basis: content;
  }
  .hotel-info__name {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
  .swiper {
    max-height: 350px;
  }
  .swiper-slide {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hotel-right {
    flex-direction: column;
    margin-top: 20px;
  }
  .booking {
    width: 100%;
    margin-bottom: 20px;
  }
  .map {
    width: 100%;
  }
  .newsletter-info {
    max-width: 576px;
    width: 92%;
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter-text {
    margin-bottom: 37px;
  }
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .activities__title {
    margin-bottom: 36px;
  }
  .card {
    width: 48%;
    height: 255px;
  }
  .packeges {
    margin-top: 45px;
  }
  .packeges__title {
    margin-bottom: 45px;
  }
  .large-card {
    height: 480px;
  }
  .large-info {
    padding: 30px 18px 25px 30px;
  }
  .large-info__text {
    margin-bottom: 20px;
  }
  .large-info__price-old {
    margin-top: 25px;
  }
  .middle-card {
    width: 280px;
    height: 480px;
  }
  .middle-info {
    padding: 25px 17px 20px 25px;
  }
  .middle-info__text {
    font-size: 12px;
  }
  .middle-info__btn {
    padding: 8px 20px;
  }
  .cards {
    margin-bottom: 15px;
  }
  .footer-container {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
  }
  .footer__logo {
    grid-column: span 2;
    width: 104px;
    height: 120px;
  }
  .footer__social {
    grid-row: 1/3;
    grid-column: 3/7;
    margin: 0;
    align-self: center;
  }
  .footer__categories {
    grid-row: 3/4;
    grid-column: span 2;
  }
  .footer__additional {
    grid-column: span 2;
  }
  .footer__legal {
    grid-column: span 2;
  }
  .footer__details {
    grid-column: span 6;
  }
  .footer__contact-from {
    grid-column: span 6;
  }
  .footer__input {
    flex-basis: 48%;
  }
}
@media (max-width: 575px) {
  .header__logo {
    max-width: 99px;
  }
  .header__logo-link {
    max-width: 100%;
  }
  .swiper {
    max-width: 575px;
    height: 250px;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .hotel-right {
    flex-direction: column;
  }
  .booking {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .subscribe {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .large-card {
    flex-direction: column;
  }
  .large-card__img {
    right: 0;
    width: 100%;
    height: 50%;
  }
  .large-info {
    width: 100%;
    height: 50%;
    padding: 27px 21px 25px 32px;
  }
  .large-info__hotel-name {
    margin-bottom: 18px;
  }
  .large-info__text {
    display: none;
  }
  .middle-card {
    width: 100%;
  }
  .middle-info {
    padding: 30px 21px 25px 32px;
  }
  .middle-info__btn {
    padding: 11px 27px;
  }
  .footer-container {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
    width: 104px;
    height: 120px;
  }
  .footer__social {
    grid-row: 2;
    grid-column: 1;
    flex-direction: column;
    align-items: start;
  }
  .footer__title--inline {
    margin-bottom: 22px;
  }
  .footer__categories {
    grid-row: 3;
    grid-column: 1;
  }
  .footer__additional {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__legal {
    grid-row: 5;
    grid-column: 1;
  }
  .footer__details {
    grid-row: 6;
    grid-column: 1;
  }
  .footer__contact-from {
    grid-row: 7;
    grid-column: 1;
  }
  .footer__input {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=style.css.map */