/* xl-размер (>=1200px) */
/* CSS для >=1200px */

/* lg-размер (<=1199px) */
@media (max-width: 1199px)
  /* CSS для ширины от 992px до 1199px */
  .wrapper
    max-width: 960px

  .swiper
    width: 590px
    &-slide
      height: 100%
      object-fit: cover

/* md-размер (<=991px) */
@media (max-width: 991px)
  /* CSS для ширины от 768px до 991px */
  .wrapper
    max-width: 760px
  .header
    &__search
      margin-left: auto
    &__top
      padding-top: 30px
      padding-bottom: 30px
    &__logo
      max-width: 133px
      &-link
        max-width: 100%
    &-menu
      &__list
        padding-top: 22px
        padding-bottom: 22px
      &__item
        font-size: 12px
  .hotel-grid
    flex-direction: column
  .swiper
    width: 100%
    &-slide
      &__pic
        width: 100%
        height: 100%
  .search-form
    max-width: 340px

  .hotel-right
    flex-direction: row
    margin-top: 30px

/* sm-размер (<=768px) */
@media (max-width: 767px)
  /* CSS для ширины от 576px до 767px */
  .wrapper
    max-width: 576px
    width: 92%
  .header
    .search-form, &__user, &-menu
      display: none
    &__hidden-menu
      width: 16px
      height: 11px
      display: flex
      justify-content: space-between
      flex-direction: column
      align-items: center
      background-color: $light
      cursor: pointer
      &__btn
        background-color: $text-color
        width: 16px
        height: 1px

  .breadcrump
    &-list
      &__item
        font-size: 10px

  .hotel
    &-info
      &__title
        width: 100%
      &__container
        justify-content: space-between
      &__stars
        flex-basis: content
      &__name
        flex-basis: 100%
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .swiper
    max-height: 350px
    &-slide
      height: 100%
      object-fit: cover
  .hotel-right
    flex-direction: column
    margin-top: 20px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
// /* xs-размер (<=575px) */
@media (max-width: 575px)
  .header
    &__logo
      max-width: 99px
      &-link
        max-width: 100%
  .swiper
    max-width: 575px
    height: 250px
    &-slide
      width: 100%
      height: 100%
  .hotel-right
    flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%

//   /* CSS для ширины до 575px (включительно) */
