/* xl-размер (>=1200px) */
/* CSS для >=1200px */

/* lg-размер (<=1199px) */
@media (max-width: 1199px)
  /* CSS для ширины от 992px до 1199px */
  .wrapper
    max-width: 960px
  .swiper
    width: 590px
    &-slide
      height: 100%
      object-fit: cover
  .card
    width: 230px
    height: 230px
  .large-card
    width: 630px
  .large-info
    padding: 40px 18px 25px 30px
  .middle-card
    width: 300px
/* md-размер (<=991px) */
@media (max-width: 991px)
  /* CSS для ширины от 768px до 991px */
  .wrapper
    max-width: 760px
  .header
    &__search
      margin-left: auto
    &__top
      padding-top: 30px
      padding-bottom: 30px
    &__logo
      max-width: 133px
      &-link
        max-width: 100%
    &-menu
      &__list
        padding-top: 22px
        padding-bottom: 22px
      &__item
        font-size: 12px
  .hotel-grid
    flex-direction: column
  .swiper
    width: 100%
    &-slide
      &__pic
        width: 100%
        height: 100%
  .search-form
    max-width: 340px

  .hotel-right
    flex-direction: row
    margin-top: 30px

  .activities
    &-container
      flex-wrap: wrap
    &-card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px

  .large-card
    width: 100%
  .middle-card
    width: 365px
  .cards
    margin-bottom: 30px
  .newsletter__main
    margin-top: 30px

  .footer
    &__input
      flex-basis: 100%

/* sm-размер (<=768px) */
@media (max-width: 767px)
  /* CSS для ширины от 576px до 767px */
  .wrapper
    max-width: 576px
    width: 92%
  .header
    .search-form, &__user, &-menu
      display: none
    &__hidden-menu
      width: 16px
      height: 11px
      display: flex
      justify-content: space-between
      flex-direction: column
      align-items: center
      background-color: $light
      cursor: pointer
      &__btn
        background-color: $text-color
        width: 16px
        height: 1px

  .breadcrump
    &-list
      &__item
        font-size: 10px

  .hotel
    &-info
      &__title
        width: 100%
      &__container
        justify-content: space-between
      &__stars
        flex-basis: content
      &__name
        flex-basis: 100%
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .swiper
    max-height: 350px
    &-slide
      height: 100%
      object-fit: cover
  .hotel-right
    flex-direction: column
    margin-top: 20px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%

  .newsletter
    &-info
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-text
      margin-bottom: 37px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      margin-bottom: 36px
  .card
    width: 48%
    height: 255px
  .packeges
    margin-top: 45px
    &__title
      margin-bottom: 45px
  .large-card
    height: 480px
  .large-info
    padding: 30px 18px 25px 30px
    &__text
      margin-bottom: 20px
    &__price-old
      margin-top: 25px
  .middle-card
    width: 280px
    height: 480px
  .middle-info
    padding: 25px 17px 20px 25px
    &__text
      font-size: 12px
    &__btn
      padding: 8px 20px
  .cards
    margin-bottom: 15px

  .footer
    &-container
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      grid-column: span 2
      width: 104px
      height: 120px
    &__social
      grid-row: 1 / 3
      grid-column: 3 / 7
      margin: 0
      align-self: center
    &__categories
      grid-row: 3 / 4
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__details
      grid-column: span 6
    &__contact-from
      grid-column: span 6
    &__input
      flex-basis: 48%
// /* xs-размер (<=575px) */
@media (max-width: 575px)
  .header
    &__logo
      max-width: 99px
      &-link
        max-width: 100%
  .swiper
    max-width: 575px
    height: 250px
    &-slide
      width: 100%
      height: 100%
  .hotel-right
    flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%

  .subscribe
    width: 100%

  .card
    width: 100%

  .large-card
    flex-direction: column
    &__img
      right: 0
      width: 100%
      height: 50%
  .large-info
    width: 100%
    height: 50%
    padding: 27px 21px 25px 32px
    &__hotel-name
      margin-bottom: 18px
    &__text
      display: none
  .middle-card
    width: 100%
  .middle-info
    padding: 30px 21px 25px 32px
    &__btn
      padding: 11px 27px
  .footer
    &-container
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
      height: 120px
    &__social
      grid-row: 2
      grid-column: 1
      flex-direction: column
      align-items: start
    &__title--inline
      margin-bottom: 22px
    &__categories
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__details
      grid-row: 6
      grid-column: 1
    &__contact-from
      grid-row: 7
      grid-column: 1
    &__input
      flex-basis: 100%
//   /* CSS для ширины до 575px (включительно) */
